:root {
    --light: #5BC8AF;
    --medium: #297C6B;
    --light-dark: #194D44;
    --dark: #333;
    --grey: #EAEAEA;
    --light-black: #333333;
}

html {
    overflow-x: hidden;
}

.hamburger {
    display: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--light-black);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1184px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 226px;
}

header {
    position: relative;
    width: 100%;
    height: 650px;
    background: url('/images/Herobg.png');
    background-size: cover;
    /* Cover the whole section */
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    flex-wrap: wrap;
}

li a {
    text-decoration: none;
    color: white;
    margin: 0px 31px;
}

.special {
    font-weight: 700;
}

li a span {
    color: #5BC8AF;
}


.bottomCurve img {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100vw;
}


.heroSection {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 449px;
    height: 472px;
}

.left {
    width: 601px;
    font-size: 14px;
}

.left h1 {
    font-size: 64px;
    line-height: 20px;
    letter-spacing: -1px;
}

.left p {
    margin: 0;
    color: #FFFFFFCC;
    line-height: 24px;
}

.voidHeading {
    color: transparent;
    /* Ensures the fill is transparent */
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;
}


.right form {
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-top: 66px;
    border-radius: 12px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 50px 0px #0000001F;
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
}




.form-heading {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 34px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-row.full-width {
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.form-group {
    position: relative;
    width: 100%;
    background-color: transparent;
}

.form-group select {
    background-color: transparent;
    color: white;
    outline: none;
}

.form-group select option {
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
}

.form-input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid #FFFFFF80;
    background: #FFFFFF0A;
    color: white;
}

.form-input:focus {
    border-color: white;
    background-color: transparent;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 0 5px;
    font-size: 16px;
    color: white;
    transition: 0.2s;
    pointer-events: none;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: 0;
    font-size: 12px;
    background-color: var(--medium);
    color: white;
}

.form-select {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: 1px solid #FFFFFF80;
    background: #FFFFFF0A;
}



.form-group select option {
    background-color: #194D44;
    color: white;
}



.submit-button {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-top: 41px;
    width: 221px;
    margin: 20px auto;
    background-color: var(--light);
    color: #fff;
    padding: 16px 60px;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.submit-button:active {
    background-color: #35BB9C;
}

.submit-button img {
    width: 24px;
    height: 24px;
}

.aboutSection {
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    padding-bottom: 130px;
    height: 700px;
    color: white;
}


section.about {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.imagesCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 22%;
}

.cardImage img {
    width: 24vw;
}

.secondSection {
    display: flex;
    /* background-color: green; */
    align-items: center;
    flex-direction: column;
}

.sectionHeading {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    align-self: flex-start;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    /* width: 100%; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sectionHeading h1 {
    padding-right: 8px;
    margin: 0px;
    width: fit-content;
}

.paras {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    /* flex: 1/3; */
    text-align: left;
}

.speciallastpara {
    display: flex;
    flex-direction: column;
}

.lastpara {
    flex: 1;
}



/* SLIDER CSS */

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -55px 147px;
    overflow: hidden;
    position: relative;
}


.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.testimonial-card {
    display: flex;
    flex-direction: row;
    color: white;
    width: 980px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.testimonial-card .info {
    background-color: white;
}

.testimonial-image {
    flex-shrink: 0;
    width: 269px;
    height: 269px;
    overflow: hidden;
    margin-right: 8px;
}

.testimonial-image img {
    object-fit: cover;
    object-position: center;
    border-radius: 11px 0px 0px 11px;
    overflow: hidden;
}

.testimonial-content {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 49px;
    width: 664px;
    height: 269px;
    display: flex;
    justify-content: center;
    background-color: var(--light-dark);
    border-radius: 0px 11px 11px 0px;
}

.quoteicon {
    position: absolute;
    top: 35px;
    right: 65px;
    width: 60px;
}

.testimonial-name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
    font-size: 18px;
}

.testimonial-text {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.arrow {
    font-size: 60px;
    cursor: pointer;
    color: var(--grey);
}

.arrow:hover {
    color: var(--light);
}

/* .arrow img:hover{
    color: var(--medium);
  } */

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--light);
}

@media (max-width: 600px) {
    .testimonial-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-image {
        margin-bottom: 10px;
    }
}

.info {
    height: 100%;
}

.normalHeading {
    display: flex;
    /* flex: 1; */
    color: white;
    justify-content: start;
    align-items: center;
    gap: 10px;
    /* Adds space between text and the line */
}

.normalHeading .ruler {
    background-color: var(--grey);
    height: 2px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.responsive-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 100px;
}

.section4 {
    color: var(--light-black);
    margin-top: 36;
    margin-bottom: 100px;
}

.column {
    padding: 20px 0px;
}

.column p {
    margin: 0px;
}

.column {
    flex: 1;
}

@media (max-width: 992px) {
    .column:nth-child(1) {
        flex: 100%;
    }

    .column:nth-child(2),
    .column:nth-child(3) {
        flex: 50%;
    }
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
}


.responsive-div-section {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
}


@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .box {
        flex: 1 1 47%;
    }
}

.section4 .wrapper {
    margin: 100px auto;
}

.normalHeading.black {
    color: var(--light-black);
}

.column {
    font-size: 18px;
    font-weight: 400;
}

.column.special span {
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
}

.divBtn {
    border: 2px solid var(--medium);
    border-radius: 4px;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #5BC8AF;
    cursor: pointer;
}

.divBtn img {
    margin-left: 8px;
    font-weight: 700;
}

.para {
    color: var(--light-black);
    width: 371px;
    height: fit-content;
    line-height: 24px;
    font-size: 14px;
}


.voidHeading.black {
    -webkit-text-stroke-color: var(--light-black) !important;
}

.responsive-div-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    /* For positioning tooltips absolutely */
}

/* Div Styling */
.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    padding: 0px 74px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    /* Desktop: 3 per row */
    overflow: visible;
    border: 2px solid var(--medium);
}

.box:hover .box-text {
    color: var(--medium);
}

.box-text {
    display: inline-block;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    line-height: 28px;
}

.innerbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .info-icon {
    display: none;
}

.box:hover .info-icon {
    display: inline-block;
}



/* Info Icon Styling */
.info-icon {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 24px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
    display: block;
}

.tooltip2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #FF7777;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.tooltip2.active{
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 300px;
    height: 84px;
    padding: 10px;
    background-color: var(--medium);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    pointer-events: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Show tooltip on icon hover */
.info-icon:hover+.tooltip {
    opacity: 1;
    transform: translate(-50%, 8px);
    pointer-events: auto;
}

/* Tablet Mode: 2 per row */
@media (max-width: 992px) {
    .box {
        flex: 1 1 calc(50% - 20px);
    }
}

/* Mobile Mode: 1 per row */
@media (max-width: 768px) {
    .box {
        flex: 1 1 47%;
    }
}

.tip {
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    background-color: var(--medium);
    position: absolute;
    top: -2px;
    right: 50%;
    z-index: 0;
}

.tip2 {
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    background: #FF7777;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 0;
}

.contentdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    /* Wrap long words */
    word-wrap: break-word;
    /* Compatibility for older browsers */
    word-break: break-word;
    white-space: normal;
    width: 300px;
    position: relative;
    z-index: 2;
}

.contentdiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    /* Wrap long words */
    word-wrap: break-word;
    /* Compatibility for older browsers */
    word-break: break-word;
    white-space: normal;
    width: 90%;
    position: relative;
    z-index: 2;
}

.video-content iframe {
    margin-top: 30px;
    width: 100%;
    height: 70vh;
}



@media (min-width:801px) {

    .section5 {
        height: 650px;
        background-color: black;
        position: relative;
        overflow: hidden;
    }

    .playbutton {
        position: relative;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .playbutton .play-icon {
        transition: opacity 0.3s;
    }

    

    .playbutton:hover .play-icon, .playbutton:active .play-icon {
        content: url("images/play-hover.png");
    }

    .video-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .video-content {
        position: relative;
        width: 80%;
        max-width: 800px;
        background: var(--light);
        padding: 20px;
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }



    .innerSection5 {
        position: relative;
        display: flex;
        overflow: hidden;
    }


    .section5 .left {
        position: relative;
    }

    .firstBg {
        position: relative;
        z-index: 11;
    }




    .secondBg {
        position: absolute;
        left: -9px;
        top: 0;
        z-index: 2;
        margin-left: 24px;
    }

    .mobileNav {
        left: 100vw;
    }

    .hamburger {
        display: none;
    }



    .arrow svg {
        transition: fill 0.3s ease;
        /* Smooth transition for color change */
    }

    .arrow:hover svg .arrow-path {
        fill: #5BC8AF;
        /* The color you want when hovered */
    }





    /* FORM CSS ERROR  */
    .error-message {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #FF7777;

        color: white;
        font-size: 14px;
        padding: 5px;
        border-radius: 5px;
        max-width: 300px;
        text-align: center;
        margin-top: 5px;
        z-index: 10;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        max-width: 300px;
        z-index: 2;
    }

    .form-group {
        position: relative;
    }

    .invalid {
        border-color: #FF7777;
    }

    .invalid+.form-label {
        color: #f44336;
    }

    .invalid+.form-label+.error-message {
        display: block;
    }

    .error-message {
        opacity: 0;
        animation: fadeIn 0.3s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



    .right {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .thumbnail {
        position: absolute;
        top: 0;
        right: 29px;
        overflow: hidden;
        transform: scale(1.1);
    }

    .playbutton img {
        margin-left: 0px;
        cursor: pointer;
    }

    .section5 .logo {
        position: absolute;
        bottom: 36px;
        right: 36px;
    }

    .playbutton {
        left: 7%;
        z-index: 5;
    }

    .sectionContent {
        position: absolute;
        top: 94px;
        left: 0;
        z-index: 12;
        margin-left: 128px;
        margin-right: 65px;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.video-content iframe {
    margin-top: 30px;
    width: 100%;
    height: 70vh;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    background-color: red;
    padding: 5px 8px;
    border-radius: 5px;
}

.points {
    display: flex;
    gap: 25px;
    color: white;
}

.points p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFFCC;
}

.checkicon img {
    margin-top: 14px;
}

.sectionContent h1 {
    font-size: 43px;
}

.points h3 {
    margin: 10px 0px;
}

footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 12px;
}

.rightFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.rightFooter li{
    list-style: none;
}

.rightFooter li a{
    color: var(--dark);
}

.rightFooter li a:hover{
    color: #5BC8AF;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
}


/* TABLE CSS HERE  */